<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="row w-100">
        <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
          <div class="card col-lg-4 mx-auto">
            <div class="card-body px-5 py-5">
              <h3 class="card-title text-start mb-3">Forgot Password</h3>
  
              <form (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm">
                <div class="form-group">
                  <label for="email">Enter your email *</label>
                  <input type="email" class="form-control p_input"
                         formControlName="email" id="email" placeholder="Enter your email">
                  <div *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)" class="text-danger">
                    Email is required and must be valid.
                  </div>
                </div>
  
                <div class="text-center d-grid gap-2">
                  <button type="submit" class="btn btn-primary btn-block enter-btn" 
                          [disabled]="!forgotPasswordForm.valid">Send Reset Link</button>
                </div>
  
                <p class="sign-up">Remember your password? <a routerLink="/login">Back to Login</a></p>
              </form>
  
              <div *ngIf="successMessage" class="alert alert-success text-center mt-3">
                {{ successMessage }}
              </div>
  
              <div *ngIf="errorMessage" class="alert alert-danger text-center mt-3">
                {{ errorMessage }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  