<div class="container-scroller">
  <!-- <app-sidebar></app-sidebar> -->
  <app-sidebar-back></app-sidebar-back>

  <div class="container-fluid page-body-wrapper">
    <app-navbar></app-navbar>

    <div class="main-panel" style="height: 100vh; overflow-y: auto; padding-top: 0;">
      <div class="content-wrapper">
        <div class="page-header">
          <h3 class="page-title"> Basic Tables </h3>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Tables</a></li>
              <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
            </ol>
          </nav>
        </div>
        <div class="row">
        
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <app-footer></app-footer>
    </div>
  </div>
</div>
